*{
    box-sizing: border-box;
}

button{
    color: white;
    padding: 5px 10px;
    border: 1px solid #464646;
    background-color: #464646;
    margin: 5px;
    transition: .3s ease-in-out;
}

button:disabled{
    color: white;
    padding: 5px 10px;
    border: 1px solid #9b9b9b;
    background-color: #9b9b9b;
    margin: 5px;
    transition: .3s ease-in-out;
}

button:hover{
    background-color: #8a8a8a;
    border: 1px solid #8a8a8a;
}

.atms{
    display: flex;
    justify-content: space-around;
}

.atm {
    position: relative;
    width: 130px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/atmFree.png');
    box-shadow: 0 2px 10px  rgba(0, 170, 0, 0.9);
    transition: .3s ease-in-out;
}

.free {
    background-image: url('img/atmNoFree.png');
    box-shadow: 0 2px 10px rgba(209, 1, 1, 0.9);
}

.atm button {
    margin: 0;
    position: absolute;
    right: 0;
}

.people{
    display: flex;
    align-items: center;
    justify-content: start ;
    margin-top: 250px;
}

.mans {
    display: flex;
    align-items: center;
    justify-content: center ;
    font-size: 24px;
    color: yellow;
    margin: 10px;
    width: 33px;
    height: 100px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/man.png');
}

.menu {
    padding: 10px;
}