*{
    box-sizing: border-box;
}
button{
    color: white;
    padding: 5px 10px;
    border: 1px solid #464646;
    background-color: #464646;
    margin: 5px;
}

button:hover{
    background-color: #8a8a8a;
    border: 1px solid #8a8a8a;
}


.del{
    margin: 0;
}

.atms{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.atm {
    border: 1px solid black;
    width: 100px;
    height: 200px;

    background-color: rgba(0, 170, 0, 0.9);
}

.free {
    background-color: rgba(209, 1, 1, 0.9);
}

.atm button {
    float: right;
}

.people{
    display: flex;
    align-items: center;

    justify-content: start ;
    margin-top: 250px;
}

.mans {
    display: flex;
    align-items: center;
    justify-content: center ;
    font-size: 24px;
    color: blanchedalmond;
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.9);
}